@import "_normalize"; 

/*Clearfix*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/*Box sizing*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
//mixin

@mixin colorBox {
  height:110px;
  width:110px;
  position: relative;
  float:left;
}

@mixin headlineText {
  margin:0 auto;
  text-align: center;
  color: $HeaderText;
  width:300px;
  border-bottom: 2px solid $DarkBlue;
  margin-top:80px;
  margin-bottom:50px;

}

@mixin linkText {
  text-decoration: none;
  color: $LightBlue;
  font-weight: 400px;
  cursor: pointer;
  transition: all 0.6s;

    &:hover {
      color: $DarkBlue;
    }
}

//Vars
$TextBlack: #29221F;
$HeaderText: #143B40;
$DarkBlue: #027081;
$Blue: #03A7C0;
$LightBlue: #40B8CA;
$Turquoise: #027B8D;

body {
  font-family: 'Lato', sans-serif, 'Vollkorn', Georgia, Arial, Helvetica, sans-serif;
  color:$TextBlack;
  width:100%;
  background-color: $TextBlack;




.wrapper {
  background-color: white;
  max-width: 900px;
  width:100%;
  margin:0 auto;

  .titleBanner {
    float:left;
    max-width: 700px;
    width:75%;
    margin-right: 0;
    margin-bottom: 5%;

    h1 {
      max-width: 600px;
      margin-right: 0px;
      line-spacing: 10px;
      padding-bottom: 10px;
      padding-left: 5%;
      color:$HeaderText;
      border-bottom: 3px solid $DarkBlue;
    }
  }  

 .navMenu {
  float:right;
  position: relative;
  z-index: 2;

  .menuButton {
    float:right;
    max-width: 100px;
    width:25%;
    margin-right: 2%;
    background-color: white;
   
       input[type="checkbox"]{
        display:none;
      }

      h4 {
        float:right;
        padding-left: 10px;
        padding-right: 60px;
        margin-top: -20px;
        margin-right:60px;
      }

      img {
      float:right;
      width:20px;
      height:20px;
      margin-right: 10px;
      margin-top: 10px;
    }

    img[for="toggle"]{
        cursor:pointer;
      }
     
  input[type="checkbox"]:checked ~ .hiddenMenu {
    color:red;
  }
      
  }

  .hiddenMenu {
    list-style: none;
    text-indent: none;
    max-width: 170px;
    width:100%;
    float:right;
    margin-top: -10px;
    margin-right: 0;
    padding-left: 0;
    

    li {
      border-bottom: 2px solid $TextBlack;
      padding:5px;
      
    }

    a {
      text-decoration: none;
      color:$TextBlack;
      text-align: left;
      padding-top: 3px;
      transition: all 0.6s;

      &:hover {
        color:lighten($TextBlack, 60%);
      }
    }
  }

  
  }

  .typography {
    clear: both;
    margin-left: 5%;

    .headerText {
    @include headlineText;
    }

    a {
      @include linkText;
    }

    p {
      font-family: 'Vollkorn';
      font-weight: 500;
    }
  }

  .lists {
   

    .headerText {
      @include headlineText;
    }

    ol {
      float:left;
      margin-left: 10%;


      li {
        padding:5px;
      }

      li:nth-child(5) a{
        @include linkText;
      }
    }

    ul {
      float:left;
      margin-left: 10%;

      li{
        padding:5px;
      }

      li:nth-child(5) a{
        @include linkText;
      }
    }

    p {
      font-family: 'Vollkorn';
      float:left;
      width:40%;
      margin-left: 10%;
      margin-top: 2%;
    }
  }


  .colors {
    clear: both;


    .headerText {
      text-align: center;
      @include headlineText;
      padding-top: 10%;
    }

    h3 {
      margin-left: 5%;
    }
  
    .colorHolder {
      margin: 0 auto;
      max-width: 800px;
      width:100%;

      div {
        margin-left: 2%;
        box-shadow: 1px 1px 5px $TextBlack;
      }
  
      .black {
        @include colorBox;
        background-color:$TextBlack;
        color:white;
        transition:all 0.6s;

          &:hover > h3{
            opacity:0.6;
          }

          h3 {
          text-align: center;
          opacity: 0;
          transition:all 0.6s;            
        }
      }

      .darkBlue {
        @include colorBox;
        background-color: $DarkBlue;

          &:hover > h3{
            opacity:0.6;
        }

          h3 {
              text-align: center;
              opacity: 0;
              transition:all 0.6s;            
            }
      }

      .lightBlue {
        @include colorBox;
        background-color: $LightBlue;

          &:hover > h3{
            opacity:0.6;
        }

          h3 {
              text-align: center;
              opacity: 0;
              transition:all 0.6s;            
            }
      }

      .Blue {
        @include colorBox;
        background-color: $Blue;

           &:hover > h3{
              opacity:0.6;
        }

        h3 {
           text-align: center;
           opacity: 0;
           transition:all 0.6s;            
         }
      }

      .headText {
        @include colorBox;
        background-color: $HeaderText;

          &:hover > h3{
            opacity:0.8;
        }

          h3 {
              text-align: center;
              opacity: 0;
              transition:all 0.6s;            
            }
      }

      .white {
        @include colorBox;
        background-color: white;
      

         &:hover > h3{
           opacity:0.6;

       }

         h3 {
             text-align: center;
             opacity: 0;
             transition:all 0.6s;           
           }
      }
    }
 }

 

.form {

    padding:3px;
    margin-left: 5%;
  
  .headerText {
    clear:both;
    @include headlineText;
    margin-bottom: 50px;
    padding-top: 10%;
  }

  .firstName,
  .middleInitial,
  .lastName,
  .firstLine,
  .secondLine,
  .city,
  .postcode,
  .email {
    border:none;
    border-radius:3px;
    padding:2px;
    margin:3px;
    background-color: $DarkBlue;
    
   ::-webkit-input-placeholder { color:#f00; }

    &:focus {
      outline: none;
      box-shadow: 0 0 2px 3px $Blue;
    }
    }

  .firstName,
  .middleInitial,
  .lastName {
    margin-bottom: 10px;
  }

  .firstLine,
  .secondLine,
  .city,
  .postcode {
    margin-bottom: 10px;
  }
  
  .styledSelect select {
    background-color: $LightBlue;
    padding: 2px;
    border: none;
    border-radius: 2px;
    margin-left: 3px;
    margin-bottom: 10px;
    
     &:focus {
      outline: none;
      box-shadow: 0 0 2px 3px $Blue;
    }
    }
  .submit {
    background-color: $LightBlue;
    color:white;
    padding:2px;
    border: none;
    border-radius: 2px;
    width:100px;
    margin-left: 3px;
    margin-top: 10px;

  }

  .radioButtons {
    background-color: lighten($LightBlue,40%);
    margin-top:10px;
    width:44%;

    input {
    padding-right: 5px;
    }
  }

  .checkBoxes {
    background-color: lighten($LightBlue,40%);
    margin-top:10px;
    width:44%;
    margin-bottom: 100px;
  }
  }//form closing



.footer {
  width:100%;
  height:80px;
  background-color:$HeaderText;


//     .headerText {
//       text-align: center;
//     }
}//footer closing

}//wrapper close

}//body close