@import "_normalize"; 

/*Clearfix*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/*Box sizing*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


//Vars

$AccentRed: #FC354C;
$TextBlack: #29221F;
$DarkBlue: #13747D;
$LightBlue: #0ABFBC;
$Cream: #FCF7C5;

h1 {
	color:red;
}