include includes/_header.jade
body
	div(class="wrapper")
		section(class="typography")
			h1(class="headerText") Typography 
			h1 h1
			h2 h2
			h3 h3
			h4 h4
			h5 h5
			p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex vero quos culpa ipsa tempore deserunt facere, provident eos suscipit perspiciatis molestias illum inventore illo alias sapiente, assumenda possimus non hic!
			a(href="http://cameroncodes.com") this is a link
			
		section(class="colors")
			h1(class="headerText") Colors
			div(class="black")
				h3 $TextBlack
			div(class="red")
				h3 $AccentRed
			div(class="blue")
				h3 $DarkBlue
			div(class="lightBlue")
				h3 $LightBlue
			div(class="cream")
				h3 $Cream


		