<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Week 4 Project
	link(rel="stylesheet", href="../assets/stylesheets/styles.css")
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,900')
	link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Vollkorn:400,700')